help >> ヘルプメッセージを送信します
speed >> メッセージ送信速度を送信します
setting >> 設定を送信します
autoleaveroom:on >> 強制自動退会をオンにします
autoleaveroom:off >> 強制自動退会をオフにします
macro:回数:テキスト >> 指定した回数だけテキストを送信します

[グループのみ]

url >> 招待リンクを送信します
set >> 既読ポイントをセットします
read >> 既読ポイントに既読をつけた人を送信します
